* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: larger;
    color: #969696;
}

.hamburger {
    background: none;
    border: none;
    color: #969696;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.social-media {
    display: flex;
    column-gap: 10px;
    align-items: end;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}