:root {
    box-sizing: border-box;
    --primary-background: #e1b999;
    --secondary-background: #6c533e;
    --text-color-secondary: #e1b999;
    --highlight-background: #b9987f;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: roboto, arial, sans-serif;
}

/*---------------Header, nav bar (hamburger), footer---------------*/

header {
    display: grid;
    grid-template-columns: 40px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--secondary-background);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: x-large;
    color: var(--text-color-secondary);
}

.hamburger {
    background: none;
    border: none;
    color: var(--secondary-background);
    cursor: pointer;
    font-size: 2.4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    color: var(--primary-background);
}

.hamburger.show::before {
    content: "\00d7";
    color: var(--primary-background);

}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

nav {
    background-color: var(--primary-background);
    padding: .3rem;
    margin: 0 auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}

nav li {
    border-bottom: 1px solid rgba(112, 112, 112, 0.505);
    padding: .8rem;
}

nav li:last-child {
    border: none;
}

nav li:hover, .current {
    background-color: var(--highlight-background);
}

nav a {
    color: #000000;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: .3rem;
    background-color: var(--secondary-background);
    color: white;
}

footer div {
    padding: .5rem 0;
    border-bottom: 1px solid var(--primary-background);
}

footer div:last-child {
    border: none;
}

#lastmodified {
    color: yellow;
}

.social-media {
    display: flex;
    column-gap: 10px;
    align-items: end;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
}

/*--------------------------business cards---------------------------------*/
h1 {
    text-align: center;
    color: var(--secondary-background);
    font-style: italic;
}

.viewbuttons {
    text-align: center;
    margin-bottom: 1rem;
}

.viewbuttons span {
    padding: .5rem;
    background-color: var(--primary-background);
    border: 1px solid lightgray;
    border-radius: 20px;
    cursor: pointer;
}

article {
    text-align: center;
    background-color: var(--primary-background);
    margin: 1rem 0;
    padding: .5rem;
}

article img {
    border: 1px solid black;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: .5rem;
}

.list h2 {
   font-size: 1rem;
}

.list article {
    display: grid;
    grid-template-columns: 50px auto 60px;
    align-items: center;
    margin: 0;
    border-top: none;
    border-bottom: none;
}

.list article:nth-child(even) {
    background-color: var(--highlight-background);
}

.list img {
    display: none;
}

.member {
    border: 5px solid black;
}

.silver {
    border: 5px solid silver;
}

.gold {
    border: 5px solid gold;
}