input[type=text], select, label {
    display: block;
}

.comparison {
    display: none;
    opacity: 0;
    transition: 
        opacity 500ms,
        display 500ms allow-discrete;   
}

.showing {
    display: block;
    opacity: 1;
}

h3 {
    margin: .5rem 0;
    color: var(--header-color);
}

label {
    padding: .2rem 0;
}

input {
    padding: .2rem;
}

form {
    text-align: center;
}

fieldset {
    text-align: left;
    background-color: var(--primary-background);
    margin-bottom: .3rem;
    border-radius: 10px;
}

legend {
    color: var(--header-color);
    background-color: var(--secondary-background);
    border: 1px solid black;
    border-radius: 10px;
    padding: .2rem;
}

input[type=submit] {
    text-align: center;
    padding: .2rem;
    margin: 1rem 0;
    background-color: var(--secondary-background);
    color: var(--header-color);
    border: 1px solid var(--header-color);
    border-radius: 10px;
    width: 50%;
}

.silhouette {
    display: none;
}

@starting-style {
  .showing {
    opacity: 0;
  }
}

@media only screen and (min-width: 64rem) {
    .silhouette {
        display: inline;
    }
    
    .silhouette img {
        width: 100%;
        rotate: 320deg;
        translate: 0 20%;
    }

    .grid-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}