h1 {
    color: navy;
    font-style: italic;
    text-align: center;
}

div {
    border: 1px solid black;
    background-color: lightgray;
    box-shadow: 0 0 8px 8px #888;
    align-items: center;
    padding: 1rem;
    color: navy;
    display: grid;
    column-gap: .5rem;
    row-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

section {
    border: 1px solid navy;
    align-items: center;
    text-align: center;
    background-color: rgb(190, 182, 255);
}